/*Fixes the header to the top of the page*/

header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0px;
}

/*How the topmenu looks*/

ul.topmenu {
    background-color: green;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    overflow: hidden;
    font-weight: bold;
    list-style-type: none;
    margin: 0;
    padding: 0;
}

/*Hides the list when not hovered over in small scale*/

ul.topmenu li {
    display: none;
    text-align: center;
    text-decoration: none;
    color: white;
    border-left: 1px solid #2E312C;
    padding: 6px 16px;
    letter-spacing: 2px;
}

/*Makes the first item in the list ("menu") visible to be able to hover over it in small screen*/

ul.topmenu li:first-child {
    display: block;
}

/*Styles menu arrow*/

ul.topmenu li:first-child img {
    height: 13px;
    width: 15px;
    position: relative;
    padding-bottom: 4px;
    padding-left: 4px;
    transform-origin: 65% 30%;
    transition-duration: 1s;
}

/*For everything that needs to change color when hovered over*/

.hoverEffekt {
    background-color: darkgreen;
}

/*styling each list item with a link*/

ul.topmenu li a {
    display: block;
    text-decoration: none;
    color: white;
    letter-spacing: 2px;
}

/* styling of table */

td {
    text-align: center;

}

tr {
    margin: auto;
}

td {
    width: 14.28%;
    vertical-align: top;
}

table {}

button {
    border-radius: 3px;
}

.headerTable {

    margin-bottom: unset;
    width: 14.28%;
    font-family: Montserrat-Medium;
    font-size: 12px;
    color: #fff;
    line-height: 1.4;
    text-transform: uppercase;
    background-color: #36304a;
   
}

#Mandag {
     border-top-left-radius: 5px;
}
#Søndag {
    border-top-right-radius: 5px;
}

.mainTable {
    width: 100%;
    background: white;
    margin-bottom: 17.25em;

    border: solid 0px #dddddd;
    border-radius: 10px;
}

#tableDates {
    background-color: #36304a;
}


/*This next @media is to make the navbar into big screen mdoe (1280px or above)*/

/*This next @media is to make the navbar into big screen mdoe (1280px or above)*/

@media only screen and (min-width: 1280px) {

    /*The two next selectors transform the list into a topbar for screens over 780px*/
    ul.topmenu li,
    ul.topmenu li.right {
        float: left;
        display: block;
    }

    /*Moves the things with .moveRight (opret hold and log off)*/
    .moveRight {
        float: right;
    }

    /*Removes the "menu" list item (Or rather the first list item) for big screens*/
    ul.topmenu li:first-child {
        display: none;
    }

    /*Makes it possible to make the screen into dropdown when screen is smaller than 1280px*/
    .medium-12 {
        position: relative;
        width: 100%;
    }
}
