.sidenav {
    height: 100%;
    width: 13%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,128,0,0.1);
    overflow-x: hidden;
    padding-top: 44px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 25px;
    color: black;
    display: block;
    border-bottom: solid;
    border-color: rgba(0,0,0,0.1);
}


.sidenav a:hover {
    background-color: rgba(0,128,0,0.2);
}

.main {
    width: 100%;
    background-image: url(../pictures/barbell-crossfit-gym-841131.jpg);
    
    margin-left: 20%; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
}
body{
    100%;
}
#startHours{
    width: 50px;
}
#startMinutes{
    width: 50px;
}#endHours{
    width: 50px;
}
#endMinutes{
    width: 50px;
}
.checks{
    
}
/*OPRETHOLD CSS SLUT*/