/*Styles the sidenavigation*/
.sidenav {
    height: 100%;
    width: 16.66667%;
    position: fixed;
    top: 0;
    left: 0;
    background: rgba(0,128,0,0.1);
    padding-top: 44px;
}

/*styles the sidenav's list items*/
.sidenav li {
    width: 600%;
    text-decoration: none;
    font-size: 20px;
    display: block;
    border-bottom: solid;
    border-color: rgba(0,0,0,0.1);
    overflow-wrap: break-word;
    padding: 10px 0px 10px 38%;
}

/*Sets the a (log af)'s color to black*/
.sidenav li a {
    color: black;
}

/*Hover effect for the index sidenav*/
.hoverEffektIndex {
    background-color: rgba(0,128,0,0.15);
    color: black;
}

/*Styles content*/
.content {
    display: block;
    font-size: 20px;
    padding-left: 17.66667%;
}

/*Sets the classes beskeder and mineBookninger to display properly*/
.beskeder, .mineBookninger {
    display: inline-block;
    padding-top: 80px;
}

/*Gives the div's inside beskeder a little bottom padding*/
.beskeder div {
    padding-bottom: 10px;
}

/**/
.beskederBoks{
    position: absolute;
    width: inherit;
}

/*Gives all h6's a border at the bottom*/
h6 {
    border-bottom: 1.5px gray dotted;
}

/**/
.fb-page{
    float: right;
    margin-right: 5px;
}

/*Sets mineBookninger to not display in order to not make that and beskeder overlap*/
.mineBookninger {
    display: none;
}

/*Sets the first child in mineBookninger to sit right*/
.mineBookninger div:first-child {
    position: absolute;
}

/*Sets the last child in right position and styles it*/
.mineBookninger div:last-child {
    float: right;
    text-align: center;
}

body{
    100%;
}