#canvas {
    width: 100%;
    border-color: rgba(0, 0, 0, 1);
    /*
    margin-bottom: -4%;
*/
}

.canvasUpperBorder {
    border-width: 100%;
    border-bottom: 1px solid;
    border-top: 1px solid;
    border-color: rgba(0, 0, 0, 0.2);
}

p {
    color: white;
    text-align: center;
    font-weight: 900;
    margin-bottom: 2%;
    font-size: 30px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 1);

}

.background {
    margin-top: -40%;
    background-size: 50%;
}

.pos {
    text-align: center;

}


.logonBox {
    margin-bottom: 100%;
    border: 1px solid;
    border-color: rgba(0, 0, 0, 0.3);
    border-radius: 3px;
    background-color: green;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 23px;
}


/* Code below makes sure that the border is the same size in small and large*/

@media screen and (max-width: 767px) {
    .loginWrapper {
        padding-top: 43px;
        /*margin-left: 10%;
        margin-right: 10%;*/
    }
}

@media screen and (min-width: 767px) {
    .loginWrapper {
        padding-top: 43px;

        /*        margin-left: 20%;
        margin-right: 20%;*/
    }
}

/*EVERYTHING BELOW IS HEADERO PTIONS*/

header {
    position: fixed;
    width: 100%;
    z-index: 1;
}

/*How the topmenu looks*/

ul.topmenu {
    background-color: green;
    font-family: 'IBM Plex Mono', monospace;
    font-size: 20px;
    overflow: hidden;
    font-weight: bold;
    list-style-type: none;
}

/*Hides the list when not hovered over in small scale*/

ul.topmenu li {
    display: none;
    text-align: center;
    text-decoration: none;
    color: black;
    border-left: 1px solid #2E312C;
    padding: 6px 16px;
}

/*Makes the first item in the list ("menu") visible to be able to hover over it in small screen*/

ul.topmenu li:first-child {
    display: block;
}

/*Styles menu arrow*/

ul.topmenu li:first-child img {
    height: 25px;
    position: relative;
    padding-bottom: 4px;
    padding-left: 4px;
    transform-origin: 65% 30%;
    transition-duration: 1s;
}

/*This next @media is to make the navbar into big screen mdoe (1280px or above)*/

/*This next @media is to make the navbar into big screen mdoe (1280px or above)*/

@media only screen and (min-width: 1280px) {

    /*The two next selectors transform the list into a topbar for screens over 780px*/
    ul.topmenu li,
    ul.topmenu li.right {
        float: left;
        display: block;
    }

    /*Moves the things with .moveRight (opret hold and log off)*/
    .moveRight {
        float: right;
    }

    /*Removes the "menu" list item (Or rather the first list item) for big screens*/
    ul.topmenu li:first-child {
        display: none;
    }

    /*Makes it possible to make the screen into dropdown when screen is smaller than 1280px*/
    .medium-12 {
        position: relative;
        width: 100%;
    }
}
