body {
    100%;
}


.content {
    margin-top: 54px;
    font-size: 15px;
    overflow-wrap: break-word;
}

.medlemsoplysninger {
    float: left;
    margin-left: 5%;
    padding: 1%;
    border: 1px rgba(0, 0, 0, 0.3) solid;
}

.medlemsoplysninger div:first-of-type {
    float: right;
}

.forRight {
    float: right;
    margin-right: 5%;
}

.kodeord {
    padding: 2%;
    border: 1px rgba(0, 0, 0, 0.3) solid;
}

.medlemskab {
    padding: 2%;
    border: 1px rgba(0, 0, 0, 0.3) solid;
}

h6 {  
    border-bottom: 1px rgba(0, 0, 0, 0.3) solid;
}

.gemPosition {
    text-align: center;
}

#gemOplysninger {
    border: 1px solid;
    border-color: rgba(0,0,0,0.3);
    border-radius: 3px;
    background-color: green;
    color: white;
    padding: 15px 32px;
    text-decoration: none;
    display: inline-block;
    font-size: 20px;
    margin-top: 5%;
    margin-left: 1%;
}